:root {
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #212529;
  --gris_oscuro: #343a40;
  --violeta_suave: #845ABF;
  --violeta: #891ad6;
  --violeta_medio: #4805A6;
  --violeta-oscuro: #3C038C;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
}

h1 { font-size: 3.2rem; /*1 rem: 10px*/ }
h2 { font-size: 2.2rem; font-weight: 400; }
h3 { font-size: 1.2rem; }


