:root {
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #212529;
  --gris_oscuro: #343a40;
  --violeta_suave: #dcb1ff;
  --violeta: #891ad6;
  --violet_medio: #741bae;
  --violet_fuerte:#5f178c;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

}

h1 { font-size: 3.8rem; /*1 rem: 10px*/ }
h2 { font-size: 2.8rem; }
h3 { font-size: 1.8rem; }


