.main_content-box{
     max-width: 120rem;
     margin: 0 auto;
     text-align: center;
     padding: 4rem 0px;
     box-shadow: 7px 11px 39px -25px rgba(0, 0, 0, 1);
}

.paragraph {
     padding: 1rem;
}