.navbar_login-content {
    background-color: var(--violeta-oscuro);
    width: 100vw;
    height: 6rem;
    color: aliceblue;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}